*{
    box-sizing: border-box;
}
html, body {
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;

}

body {margin: 0 auto;
    color: #fff;
    background-color: black;
    display: flex;
    flex-direction: column;
}




.all {
    flex: 1 1 ;
    background-color: black;
}


.nav {
    order: -1;
}

 .footer {
    flex: 1 1 auto;
    background-color: black;
     display: flex;


     margin: auto;

}
 .header {
     flex-direction:row;
     flex: 0 0 5em;
     background-color: black;
 }
 #inst {background-color: gray;
     opacity: 1;
     height: 30px;
     width: 30px;
     transition: 0.5s;
 }
 #facebook {
     background-color: gray;
     opacity: 1;
     height: 30px;
     width: 30px;
     transition: 0.5s;
 }
 #viber { background-color: gray;
     opacity: 1;
     height: 29px;
     width: 30px;
     transition: 0.5s;

 }
 #youtube {
     background-color: gray;
     opacity: 1;
     height: 35px;
     width: 33px;
     transition: 0.5s;


 }
 #youtube:hover {
     opacity: 0.5;
     transition: 0.5s;
 }

 #inst:hover {
     opacity: 0.5;
     transition: 0.5s;
 }
 #facebook:hover {
     opacity: 0.5;
     transition: 0.5s;
 }
#viber:hover {
    opacity: 0.5;
    transition: 0.5s;
}
 .previors {
     justify-content: space-between;
     display: flex;
     flex-direction: column;
     margin: 3em;

     font-family: 'Oswald', sans-serif;
     font-size: 13px;
 }
 .right_previor
    {
     background-color: black;

 }
.main_menu{
    display: flex;
    flex-direction: column;
}
 .left_previor {

     flex-direction: row;
     display: flex;
     align-items: center;
     flex-basis: 20%;
     justify-content:  space-around;


 }
#slider { /*положение слайдера*/
    position: relative;
    text-align: center;

}

#slider{ /*центровка слайдера*/
    margin: 0 auto;
}

#slides article{ /*все изображения справа друг от доруга*/
    width: 20%;
    float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
    width: 500%;
    line-height: 0;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
    width: 100%;
    overflow: hidden;
}

article img{ /*размер изображений слайдера*/
    width: 100%;
}

#desktop:checked ~ #slider{ /*размер всего слайдера*/
    max-width: 100%; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(5),
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
    background: url('photo/prev.png') no-repeat; /*заливка фона картинкой без повторений*/
    float: left;
    margin: 0 0 0 40px; /*сдвиг влево*/
    display: block;
    height: 68px;
    width: 68px;

}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2),
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
    background: url('photo/next.png') no-repeat; /*заливка фона картинкой без повторений*/
    float: right;
    margin: 0 40px 0 0; /*сдвиг вправо*/
    display: block;
    height: 68px;
    width: 68px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
    cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
    display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
    margin-left: 0;
}

#switch2:checked ~ #slides .image{
    margin-left: -100%;
}

#switch3:checked ~ #slides .image{
    margin-left: -200%;
}

#switch4:checked ~ #slides .image{
    margin-left: -300%;
}

#switch5:checked ~ #slides .image{
    margin-left: -400%;
}

#controls{ /*положение блока всех управляющих элементов*/
    margin: -25% 0 0 0;
    width: 100%;

}

#active label{ /*стиль отдельного переключателя*/
    border-radius: 10px; /*скругление углов*/
    display: inline-block; /*расположение в строку*/
    width: 15px;
    height: 15px;
    background: white;
}

#active{ /*расположение блока с переключателями*/
    margin: 23% 0 0;
    text-align: center;
}

#active label:hover{ /*поведение чекбокса при наведении*/
    background: #76c8ff;
    border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
    background: #18a3dd;
    border-color: #18a3dd !important;
}

#slides .image{ /*анимация пролистывания изображений*/
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
    opacity: 0.6;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
    transition: opacity 0.2s ease-out;
}
article {
    line-height: 10px;

}
article p {


}
.slider_href {
    align-self: center;
    justify-self: center;

}






@media screen and (min-width: 820px) {

    body{padding: 0;

        min-height: 100vh;
    }
    .all {
        flex-direction: row;
        min-height: 100%;
        flex: 1 1 auto;
    }
    .previors {
        margin-top: 3em;
        margin-left: 3em;
        margin-right: 3em;
        margin-bottom: 1em;
        flex-direction: row;
    }
    .main_menu{
        display: flex;
        flex-direction: row;
    }

    #authorizations a {
        display: block;
        height: 100%;
    }
        .slider_href {
            font-size: 20px;
        }
    article p {
        font-size: 50px;
    }
    article p2 {
        font-size: 20px;
    }
}


@media (min-width: 320px) and  (max-width: 820px){
    body {
        border: 0.5em solid white;
    }

    .right_previor{
        margin-top: 2em;
        text-align: center;
    }
    .left_previor {
        display: flex;
        justify-content: center;
    }
    .main_menu{
        display: flex;
        flex-direction: column;
    }

    .menu {
        flex-direction: column;

    }

    #authorizations a {
        display: block;
        height: 100%;
    }
    #slider { /*положение слайдера*/
        position: relative;
        text-align: center;

    }

    #slider{ /*центровка слайдера*/
        margin: 0 auto;
    }

    #slides article{ /*все изображения справа друг от доруга*/
        width: 20%;
        float: left;
    }

    #slides .image{ /*устанавливает общий размер блока с изображениями*/
        width: 500%;
        line-height: 0;
    }

    #overflow{ /*сркывает все, что находится за пределами этого блока*/
        width: 100%;
        overflow: hidden;
    }

    article img{ /*размер изображений слайдера*/
        width: 100%;
    }

    #desktop:checked ~ #slider{ /*размер всего слайдера*/
        max-width: 100%; /*максимальнная длинна*/
    }

    /*настройка переключения и положения для левой стрелки*/
    /*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
    #switch1:checked ~ #controls label:nth-child(5),
    #switch2:checked ~ #controls label:nth-child(1),
    #switch3:checked ~ #controls label:nth-child(2),
    #switch4:checked ~ #controls label:nth-child(3),
    #switch5:checked ~ #controls label:nth-child(4){
        background: url('photo/prev.png') no-repeat; /*заливка фона картинкой без повторений*/
        float: left;
        margin: 0 0 0 0; /*сдвиг влево*/
        display: none;
        height: 68px;
        width: 68px;
    }

    /*настройка переключения и положения для правой стрелки*/
    #switch1:checked ~ #controls label:nth-child(2),
    #switch2:checked ~ #controls label:nth-child(3),
    #switch3:checked ~ #controls label:nth-child(4),
    #switch4:checked ~ #controls label:nth-child(5),
    #switch5:checked ~ #controls label:nth-child(1){
        background: url('photo/next.png') no-repeat; /*заливка фона картинкой без повторений*/
        float: right;
        margin: 0 0 0 0; /*сдвиг вправо*/
        display: none;
        height: 68px;
        width: 68px;
    }

    label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
        cursor: pointer;
    }

    .all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
        display: none;
    }

    /*позиция изображения при активации переключателя*/
    #switch1:checked ~ #slides .image{
        margin-left: 0;
    }

    #switch2:checked ~ #slides .image{
        margin-left: -100%;
    }

    #switch3:checked ~ #slides .image{
        margin-left: -200%;
    }

    #switch4:checked ~ #slides .image{
        margin-left: -300%;
    }

    #switch5:checked ~ #slides .image{
        margin-left: -400%;
    }

    #controls{ /*положение блока всех управляющих элементов*/
        margin: 0 0 0 0;
        padding: 0;
        width: 100%;

    }

    #active label{ /*стиль отдельного переключателя*/
        border-radius: 10px; /*скругление углов*/
        display: inline-block; /*расположение в строку*/
        width: 15px;
        height: 15px;
        background: white;
    }

    #active{ /*расположение блока с переключателями*/
        margin: 0 0 0 0;
        text-align: center;
        padding-top: 1%;
    }

    #active label:hover{ /*поведение чекбокса при наведении*/
        background: #76c8ff;
        border-color: #777 !important; /*выполнение в любом случае*/
    }

    /*цвет активного лейбла при активации чекбокса*/
    #switch1:checked ~ #active label:nth-child(1),
    #switch2:checked ~ #active label:nth-child(2),
    #switch3:checked ~ #active label:nth-child(3),
    #switch4:checked ~ #active label:nth-child(4),
    #switch5:checked ~ #active label:nth-child(5){
        background: #18a3dd;
        border-color: #18a3dd !important;
    }

    #slides .image{ /*анимация пролистывания изображений*/
        transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    }

    #controls label:hover{ /*прозрачность стрелок при наведении*/
        opacity: 0.6;
    }

    #controls label{ /*прозрачность стрелок при отводе курсора*/
        transition: opacity 0.2s ease-out;
    }

    ::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    ::-webkit-scrollbar:vertical {
        width: 12px;
    }
    ::-webkit-scrollbar:horizontal {
        height: 12px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .5);
        border-radius: 10px;
        border: 2px solid #ffffff;
    }
    ::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #ffffff;
    }

    .footer {
        flex-direction: column;

    }
 article a {
     text-decoration: none;
     font-size: 30px;
 }
 article p2 {
     font-size: 15px;
 }


}













.main_menu {
    display: flex;
    padding-bottom: 1.5em;


}

.logo {
    padding-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    text-align: center;
flex: 1 1 40%;

}
.menu {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    flex: 1 1 60%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main_href, #gallery_href,#categories_href, #about_href {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
#authorizations a {
    display: block;
    height: 100%;
}

#authorizations_href {
    text-decoration: none;
    color: white;
    transition: 0.5s;
    height: 50px;
    width: 45px;
    margin-top: 5px;
}
.main_href:hover, #gallery_href:hover,#categories_href:hover, #about_href:hover,#authorizations_href:hover {
    opacity: 0.5;
    transition: 0.5s;

}
.slider_href {

    transition: 0.5s;
}
.slider_href:hover{

    opacity: 0.5;
    transition: 0.5s;

}
.slider_href {
    background-color: lightslategray;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 10px;
    opacity: 0.7;
}

.photo_footer {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    margin: 10px;
}
.nova_poshta { display: flex;
    flex: 1 1 30%;
    flex-direction: column;



    margin: 30px;

}
.icon_footer {
    display: flex;
    justify-content: start;
    align-items: center;
}
.years {
    display: flex;
    flex-direction: column;
    margin: 30px;

   }



